In [3]:
import pandas as pd
import numpy as np

df=pd.read_csv("kc_house_data.csv")
pd.set_option('display.max_columns', 500)
print("Let me help you. There are 21613 cases in the range of 75000 to 7700000 $")
print("How much money do you have?")
while True:
    try:
        p=int(input())
    except ValueError:
        print("Invalid input! Please Enter a Number (75000 to 7700000)")
        continue
    if p>7700000 or p<75000:
        print("Invalid input! Please Enter a Number (75000 to 77000000)")
        continue
    else:
        df1=df.loc[df['price']<p]
        print("Number of cases for you:",len(df1))
        print("Top 10 cases based on your budget: ")
        df1=df1.sort_values(by="price", ascending=False)
        display(df1.head(10))
        print("How many rooms do you need? There are cases with 0 to 8 Rooms ")
        while True:
            try:
                b=int(input())
            except ValueError:
                print("Invalid input! Please Enter a Number (0 to 33)")
                continue
            if b>33 or b<0:
                print("Invalid input! Please Enter a Number (0 to 33)")
                continue
            else:
                df2=df1.loc[df['bedrooms']==b]
                print("Number of cases for you:",len(df2))
                print("Top 10 cases suitable for you: ")
                df2=df2.sort_values(by="price", ascending=False)
                display(df2.head(10))
                print("How many rooms do you need? There are cases with 0 to 8 Rooms ")

Let me help you. There are 21613 cases in the range of 75000 to 7700000 $
How much money do you have?
345999
Number of cases for you: 6505
Top 10 cases by yout budget:

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
3457,1568100076,20141210T000000,345950.0,5,1.00,1340,11198,1.5,0,0,3,8,1340,0,1934,0,98155,47.7360,-122.295,1390,8020
5891,8944320470,20140623T000000,345950.0,3,2.50,2110,4118,2.0,0,0,3,8,2110,0,1989,0,98042,47.3878,-122.153,2110,4044
19188,7942601475,20140520T000000,345600.0,5,3.50,2800,5120,2.5,0,0,3,9,2800,0,1903,2005,98122,47.6059,-122.310,1780,5120
958,7279300070,20140922T000000,345500.0,3,1.00,1350,8581,1.0,0,0,5,6,1350,0,1944,0,98177,47.7612,-122.362,2080,8451
12719,6386550040,20141223T000000,345500.0,4,2.50,2160,9682,2.0,0,0,3,8,2160,0,1999,0,98031,47.4106,-122.204,1770,9600
20741,7967000200,20141121T000000,345500.0,3,2.50,1930,4000,2.0,0,0,3,8,1930,0,2014,0,98001,47.3518,-122.275,2050,4000
3759,561000300,20140623T000000,345100.0,3,3.75,1950,8625,1.0,0,0,3,8,1360,590,1959,0,98178,47.5050,-122.258,1950,6670
8901,9510400100,20140506T000000,345000.0,4,2.50,2331,3826,2.0,0,0,3,8,2331,0,2007,0,98058,47.4444,-122.182,2441,3826
19713,4310702918,20141030T000000,345000.0,2,2.25,1110,1290,3.0,0,0,3,8,1110,0,2006,0,98103,47.6968,-122.340,1360,1251
19519,993002177,20150506T000000,345000.0,3,2.50,1380,1547,3.0,0,0,3,8,1380,0,2000,0,98103,47.6908,-122.341,1380,1465

How many rooms do you need? There are cases with 0 to 8 Rooms

KeyboardInterrupt: Interrupted by user

In [ ]:
df.describe()

In [6]:
len(df.price)

21613